.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  @include centered(flex, center, null);
}

.navigation {
  @include centered(flex, center, null);
}
// links
.link-list {
  display: flex;
  & .link-list__item + .link-list__item {
    margin-left: 50px;
  }
}
.header__link-list {
  margin-left: 93px;
}

// contacts
.contact {
  @include centered(flex, center, null);
  & .contact__item + .contact__item {
    margin-left: 50px;
  }
}
.header__contact {
  margin-left: auto;
}

/* ----logo--- */
.logo--dark {
  color: var(--header-logo-studio);
}
/* ------------ */

.link-list__item {
  position: relative;
}
.current {
  &::after {
    content: '';
    position: absolute;
    top: calc(100% + 1px);
    transform: translate(0, -100%);
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
  }
}
.link-list .current {
  color: var(--accent-color);
}

.link-list__link,
.contact__link {
  @include centered(flex, center, null);
  padding-top: 31px;
  padding-bottom: 31px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);

  transition-property: color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-function);
}
.contact__link {
  color: var(--primary-color-text);
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.link-list__link:hover,
.link-list__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}
