@mixin font($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin centered($df: flex;, $ai: center;, $jc) {
  display: $df;
  align-items: $ai;
  justify-content: $jc;
}
